@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
    --color-primary: #262626;
    --color-secondary: #404040;
    --color-button-hover: #525252;
    --color-button-click: #a3a3a3;
    --color-text-default: #a3a3a3;
    --color-text-highlight: #ffffff;
}